<%= render 'topsix' %>
<%= render 'logo' %>
<%= render 'img_left_12col' %>
<%= render 'img_right_12col' %>
<%= render 'post_full_width' %>

<div class="container page_wrapper padding">
  <div class="row">
    <%= render 'img_top_col8' %>
    <%= render 'sidebar' %>
  </div>
</div>

<%= render 'must-read' %>
<%= render 'img_left_12col' %>
<%= render 'img_right_12col' %>
<%= render 'footer' %>
